@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --hexBlue: linear-gradient(
    90deg,
    rgb(18, 18, 139) 32%,
    rgba(0, 212, 255, 1) 100%
  );
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  scroll-behavior: smooth;
}

*::selection {
  background: var(--hexBlue);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 0 7%;
  padding-top: 1rem;
}

button {
  --c: #fff;
  /* text color */
  background: linear-gradient(
    90deg,
    rgb(18, 18, 139) 32%,
    rgba(0, 212, 255, 1) 100%
  );
  /* background color */
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
  text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
    calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
  outline-offset: 0.1em;
  transition: 0.3s;
}

button:hover,
button:focus-visible {
  --_p: 0%;
  --_i: 1;
}

button:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9Q #0005;
  transition: 0s;
}

button {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: 0.1em 0.3em;
}

header {
  flex-wrap: wrap;
  max-width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: rgb(18, 18, 139);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navbar ul li a{
    color: #fff;
}
.navbar ul li a:hover{
    color: rgba(0, 212, 255, 1);
}
ul li {
  list-style: none;
  padding: 0 2rem;
  color: #eee;
  font-size: 20px;
  cursor: pointer;
}

.humberger i {
  color: #fff;
}

.humberger {
  display: none;
}

.home {
  min-height: 93vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.HomeButton {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: rgb(0, 140, 255);
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 20px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3px;
}

.HomeButton::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding: 5px 2px;
}

.HomeButton::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.HomeButton:hover::after {
  filter: blur(30px);
}

.HomeButton:hover::before {
  transform: rotate(-180deg);
}

.HomeButton:active::before {
  scale: 0.7;
}

.home .image {
  flex: 1 1 5rem;
  overflow: hidden;
}

.home .content {
  flex: 1 0 35rem;
}

.home .content h1 {
  font-size: 5rem;
  color: #444;
}

.home .content p {
  font-size: 1.8rem;
  color: #666;
  padding: 1rem 0;
}

.about {
  min-height: 91vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.about .image {
  flex: 1 1 25rem;
  overflow: hidden;
}

.about .content {
  flex: 1 1 20rem;
  padding: 2rem;
}

.about .content h1 {
  font-size: 5rem;
  color: #444;
}

.about .content p {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
}

.service {
  min-height: 91vh;
  background: #fff;
}

.service .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  padding: 2rem 0;
}

.service .box-container .box {
  background: #eee;
  margin: 2rem 2.5rem;
  padding: 1rem;
  width: 30rem;
  text-align: center;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
}

.service .box-container .box i {
  font-size: 4rem;
  padding: 1rem;
  color: rgb(18, 18, 139);
}

.service .box-container .box h3 {
  font-size: 2rem;
  color: #444;
}

.service .box-container .box p {
  font-size: 1.3rem;
  color: #666;
  padding: 1rem;
}

.plan {
  min-height: 91vh;
  background: #fff;
}

.plan .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4rem;
  padding: 2rem 0;
}

.plan .box-container .box {
  background: #eee;
  margin: 1rem;
  padding: 2rem;
  width: 35rem;
  text-align: center;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
  position: relative;
}

.plan .box-container .box .title {
  font-size: 3rem;
  color: #666;
  padding: 1rem 0;
}

.plan .box-container .box .price {
  background: var(--hexBlue);
  color: #fff;
  border-radius: 50%;
  margin: 1rem auto;
  height: 13rem;
  width: 13rem;
  line-height: 13rem;
  text-align: center;
  font-size: 2.9rem;
}

.plan .box-container .box .price span {
  font-size: 2rem;
}

.plan .box-container .box ul li {
  color: #666;
  list-style: none;
  font-size: 1.7rem;
  padding: 1rem 0;
}

.contact {
  min-height: 93vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contact form {
  flex: 1 1 25rem;
  padding: 2rem;
  margin: 1rem;
  margin-top: 2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.contact .content {
  flex: 1 1 35rem;
  margin: 1rem;
  padding: 3rem;
}

.contact form .box {
  width: 100%;
  color: #333;
  height: 4rem;
  font-size: 1.7rem;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.3);
  text-transform: none;
  margin: 1rem 0;
}

.contact form .box::placeholder {
  text-transform: capitalize;
}

.contact form .box:focus {
  border-color: var(--hexBlue);
}

.contact form .message {
  height: 15rem;
  resize: none;
}

.contact .content h3 {
  font-size: 4rem;
  color: #444;
}

.contact .content p {
  font-size: 1.8rem;
  color: #666;
  padding: 1rem 0;
}

.contact .content .icons {
  font-size: 1.7rem;
  color: #333;
  padding: 0.7rem 0;
}

.contact .content .icons i {
  padding-right: 0.5rem;
  color: var(--hexBlue);
}

.footer {
  background: var(--hexBlue);
}

.footer .box-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer .box-container .box {
  margin: 2rem;
  flex: 1 1 30rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: #fff;
}

.footer .box-container .box p {
  font-size: 1.4rem;
  color: #eee;
  padding: 1rem 0;
}

.footer .box-container .box a {
  font-size: 1.8rem;
  color: #eee;
  padding: 0.4rem 0;
  display: block;
}

.footer .box-container .box a:hover {
  text-decoration: underline;
}

.footer .box-container .box:nth-child(2) {
  text-align: center;
}

.footer .box-container form {
  display: flex;
  align-items: center;
}

.footer .box-container form input[type="email"] {
  height: 4.1rem;
  width: 100%;
  font-size: 1.7rem;
  padding: 0 1rem;
}

.shadow__btn {
  margin: 5px;
  padding: 10px;
  border: none;
  font-size: 14px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(0, 119, 255);
  box-shadow: 0 0 25px rgb(0, 102, 255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 89, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 102, 255);
}

/* media queries  */

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  .home .content {
    text-align: center;
  }

  .home .content h1 {
    font-size: 4rem;
  }
  .home{
    display: block;
    flex: wrap;
    align-items: center;
    justify-content: center;
  }
  .home .content{
    margin-top: 2rem;
  }
  .home .image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
  }
  .home .HomeButton{
    height: 70%;
    margin: auto;
    margin-top: 3rem;
}
.about{
    display: block;
    flex: wrap;
    align-items: center;
    justify-content: center;
}
.about .image{
    display: flex;
}
  .about .content h1 {
    font-size: 4rem;
  }
}

@media (max-width: 510px) {
  html {
    font-size: 50%;
  }
  header {
    max-width: 100%;
  }
  .home{
    display: block;
    flex: wrap;
    align-items: center;
    justify-content: center;
  }
  .home .content{
    margin-top: 2rem;
  }
  .home .image{
    display: flex;
    margin-top: 4rem;
  }
  .home .HomeButton{
    height: 70%;
    margin: auto;
    margin-top: 3rem;
}
.about{
    display: block;
    flex: wrap;
    align-items: center;
    justify-content: center;
}
.about .image{
    display: flex;
}

  section {
    padding-top: 3rem;
  }

  .footer .box-container .box:last-child {
    text-align: center;
  }

  .footer .box-container .box:last-child p {
    font-size: 1.7rem;
  }

  .footer .box-container .box:last-child form {
    flex-flow: column;
  }

  .footer .box-container .box:last-child form .btn {
    margin-top: 1rem;
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  header {
    max-width: 100%;
  }

  .humberger {
    display: block;
    font-size: 25px;
  }

  .navbar {
    display: none;
    /* background-color: #BD1616; */
    width: 100%;
  }

  .navbar ul {
    flex-direction: column;
    /* display: block; */
  }

  .navbar ul li {
    padding: 0.8rem 0;
  }
  .about .image{
    display: flex;
    align-items: center;
    align-content: center;
}
}
